<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--跨站攻击验证 请勿修改-->
    <httpRuntime requestValidationMode="2.0"/>
    <pages validateRequest="false"  enableEventValidation="false"/>

  </system.web>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=localhost;database=StudentLoan;uid=sa;pwd=88888888;"/>
  </connectionStrings>

  <appSettings>
    <!--发送短信模块-->
    <add key="SendMessageID" value="xtwl2014"/>
    <add key="SendMessageKey" value="214315"/>
    <add key="SendMessageUrl" value="http://api.sms.cn/mt/"/>

    <!--页面跳转同步通知地址-->
    <add key="ReturnUrl" value="http://csharp.wicp.net:8000/callback/returnurl.aspx"/>

    <!--智付异步回调地址,智付充值平台主动通知我们系统订单状态-->
    <add key="DinPay_Notify_Url" value="http://csharp.wicp.net:8000/callback/dinpaynotifyurl.aspx"/>


    <!--定时执行作务-->
    <add key="TastExtcueTime" value="01:43:00"/>
  </appSettings>

</configuration>